*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(254, 199, 199);
}

a {
  text-decoration: none;
}
button{
  border-radius: 8px;
  padding: 3px;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 15px 5% 5% 5%;
  background-color:rgb(239, 157, 157);
  border-radius: 10px;position: sticky;
  top: 0;
  z-index: 100;

}

nav a {
padding: 10px;
color: white;
border-radius: 9px;

}
nav a:hover{
  cursor: pointer;
  background-color:rgb(254, 199, 199) ;

}

.links{
  margin-right: 10%;
}

#logo{
  border-radius: 5px;
}

#mainDisplay .tiles{
  width: 180px;
  padding: auto;
 }
 #mainDisplay {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   overflow: auto;
   height: 100vh;
   padding: 5px;
 }
 
 .tiles {
   flex-basis: calc(33.33% - 10px);
   margin: 15px; 
   padding: 5px;
 }
 
 .tiles img{
   width: 180px;
 }
 
 .update-anime:hover{
   background-color: rgb(239, 157, 157);
   color: white;
 }
 
 .shop:hover{
   background-color: rgb(239, 157, 157);
   color: white;
 }
 .delete-anime:hover{
   background-color: red;
   color: white;
 }
 
 .buy-button:hover{
   background-color: rgb(239, 157, 157) ;
   color: white;
 }